@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4096ff;
}

body {
  margin: 0;
  background-color: #f5f7fa;
  overflow-y: auto;
}

.main-container {
  width: 1280px;
  margin: 0 auto;
}
