.wrapper {
  position: relative;
  text-align: center;
  background-color: #fff;
  margin-bottom: 6px;
  transition: all 0.4s;
  border-radius: 2px;
}

.wrapper:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product-name {
  --line-height: 18px;
  margin: 5px 0 0;
  font-size: 16px;
  height: calc(var(--line-height) * 2);
  line-height: var(--line-height);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
