.carousel-right {
  width: 40%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-heading {
  font-family: "Josefin Sans";
  font-size: 80px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 70px;
  text-align: center;
  padding: 0 35px;
}

.carousel-subheading {
  font-family: "Josefin Sans";
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  line-height: 35px;
  text-align: center;
}

.carousel-image-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 8px), calc(-50% - 8px));
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 300px 300px 0 0;
  width: 100%;
  height: 100%;
}

.carousel-image {
  border-radius: 300px 300px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-paragraph {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 19px;
  text-align: center;
  margin-bottom: 40px;
}

.carousel-btn {
  font-family: "Josefin Sans";
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  line-height: 45px;
  text-align: center;
  padding: 12px 28px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: transparent;
  transition: border-color 0.3s;
}

.carousel-btn:hover {
  cursor: pointer;
  border-color: #fff;
}
