.buy-btn {
  background-color: var(--primary-color);
  width: 324px;
  height: 60px;
  color: white;
  border-radius: 5px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.add-to-cart-btn {
  border: 2px solid var(--primary-color);
  padding: 4px 6px;
  width: 60px;
  height: 60px;
  margin-left: 16px;
  color: var(--primary-color);
  border-radius: 5px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.teeter {
  /* Uncomment as needed. */
  animation-name: teeter;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes teeter {
  /* 0% { } */
  33% {
    transform: translate(-7%, 0) rotate(-9deg);
  }
  66% {
    transform: translate(-5%, 0) rotate(4deg);
  }
  66% {
    transform: translate(7%, 0) rotate(9deg);
  }
}
